---
http_interactions:
- request:
    method: get
    uri: http://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=0DBAINKV4NlTM9e9pnWVHBpsB99fekGc90VVHEgi&fuel_type=ELEC,LPG&limit=10&location=%2780216%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 14 Dec 2016 17:19:45 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '991'
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7845048,"longitude":-104.9797753,"precision":{"name":"postal_code","types":["postal_code"],"value":5},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":50,"station_counts":{"total":103,"fuels":{"E85":{"total":0},"ELEC":{"total":98,"stations":{"total":45}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":0},"CNG":{"total":0},"LPG":{"total":5}}},"offset":0,"fuel_stations":[{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2016-12-14","expected_date":null,"fuel_type_code":"ELEC","id":53078,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"IBEW68","station_phone":"888-758-4389","updated_at":"2016-12-14T09:54:29Z","geocode_status":"GPS","latitude":39.7989545,"longitude":-104.9822851,"city":"Denver","intersection_directions":"WIND
        TURBINE; Look for the Wind Turbine in Central parking lot and use parking
        spaces designated EV only","plus4":null,"state":"CO","street_address":"5660
        Logan St","zip":"80216","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:90707"]},"distance":1.00581},{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2016-12-14","expected_date":null,"fuel_type_code":"ELEC","id":62563,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"ROCKIES
        PARKING","station_phone":"888-758-4389","updated_at":"2016-12-14T09:48:33Z","geocode_status":"200-8","latitude":39.7598137,"longitude":-104.9876131,"city":"Denver","intersection_directions":"GARAGE
        FL[...]
