---
http_interactions:
- request:
    method: get
    uri: http://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=0DBAINKV4NlTM9e9pnWVHBpsB99fekGc90VVHEgi&fuel_type=ELEC,LPG&limit=10&location=80203
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 14 Dec 2016 17:41:13 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '979'
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7312095,"longitude":-104.9826965,"precision":{"name":"postal_code","types":["postal_code"],"value":5},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":61,"station_counts":{"total":124,"fuels":{"E85":{"total":0},"ELEC":{"total":118,"stations":{"total":55}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":0},"CNG":{"total":0},"LPG":{"total":6}}},"offset":0,"fuel_stations":[{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2016-12-14","expected_date":null,"fuel_type_code":"ELEC","id":66897,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"UDR","station_phone":"888-758-4389","updated_at":"2016-12-14T09:26:44Z","geocode_status":"GPS","latitude":39.7300224,"longitude":-104.9883424,"city":"Denver","intersection_directions":"816
        ACOMA 1; For residents only - 5th Floor","plus4":null,"state":"CO","street_address":"800
        Acoma St","zip":"80204","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:118249"]},"distance":0.3117},{"access_days_time":"Garage
        business hours; pay lot","cards_accepted":null,"date_last_confirmed":"2016-11-02","expected_date":null,"fuel_type_code":"ELEC","id":50065,"groups_with_access_code":"Public","open_date":"2012-12-01","owner_type_code":"LG","status_code":"E","station_name":"City
        of Denver - Cultural Center Complex Garage","station_phone":"303-640-1096","updated_at":"2016-11-02T17:35:09Z","geocode_status":"200-8","latitude":39.735271,"longitude":-104.9885199,"city"[...]
